@font-face {
    font-family: me_regular;
    src: url(fonts/me_regular.otf);
}

@font-face {
    font-family: me_medium;
    src: url(fonts/me_medium.otf);
}

@font-face {
    font-family: me_bold;
    src: url(fonts/me_bold.otf);
}

body {
    font-family: me_regular;
    height: 2000px;
    margin: 0;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #4169E1;
    color: #FFF;
    height: 40px;
    width: 100%;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #3A5ECA;
}

.navbarLogo {
    width: 40px;
    margin-right: 15px;
}

.navbarLogoText {
    font-family: me_medium;
    font-size: 20pt;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo {
    width: 125px;
    margin-right: 25px;
}

.logoText {
    font-family: me_bold;
    font-size: 64pt;
    user-select: none;
    -webkit-user-select: none;
}